@model BookCrossingApp.ViewModels.BookPlaceViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Вы увены, что хотите выбрать эту книгу?</h1>

<div>
    <h4>Книга</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BCID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BCID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlaceDescription)
        </dd>
    </dl>

    <form asp-action="TakeConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Take" class="btn btn-danger" /> |
        <a asp-controller="Home" asp-action="AllBooks">Вернуться к списку книг</a>
    </form>
    
</div>
