@using BookCrossingApp.Data.Enum
@model IEnumerable<BookCrossingApp.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Catalog</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BCID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BCID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
               
                <td>
                    @if (item.Status != BookStatus.OnMap)
                    {
                        <a asp-action="PlaceBook" asp-route-id="@item.Id">Place</a>
                    }
                </td>
                <td><a asp-action="Edit" asp-route-id="@item.Id">Edit</a> </td>
                <td><a asp-action="Details" asp-route-id="@item.Id">Details</a> </td>
                <td><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                
            </tr>
        }
    </tbody>
</table>
